@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.footer {
  width: 100%;
  right: 0;
  left: 0;
  padding: 0;
  background-color: #6b3cc9;
  color: white;
}
.footer-row {
  text-align: left;
  display: flex;
  flex-direction: row;
}
.footer-row .h3 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 25.41;
}
.footer-logo {
  margin-top: 60px;
  margin-bottom: 30px;
}
.textarea {
  margin-top: 15px;
  width: 260px;
  text-align: justify;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
}
.foot-up-right {
  margin-top: 10px;
}
.footer-row span {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  box-sizing: border-box;
  line-height: 16.96px;
}
hr {
  margin-left: 25%;
  margin-right: 25%;
}
.copyrights {
  text-align: center;
}
